<section id="search" class="search-wrap">
<h1>Find A Promo</h1>
    <form action="/posts/search" class="search-form" id="search">
        <i class="fas fa-search"></i>
        <input type="search" name="term" id="typed" placeholder="">
        <input type="submit" value="GO!">
    </form>
</section>
{{!-- style=background-color:#c26209 --}}